:root {
    --main-bg-color: #EFEDE7;
    --main-font-family:  'Noto Serif', serif;
    --main-font-renew: 'Poppins', sans-serif;

    //section
    --section-font-size: 80px;
    --section-title-font-weight: 600;
}